/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
#Reset & Basics
#Basic Styles
#Site Styles
#Typography
#Links
#Lists
#Images
#Buttons
#Tabs
#Forms
#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

.content span a {
    display: none;
}

*::-moz-selection {
    background: none repeat scroll 0% 0% #FF8DA1;
    color: #FFF;
    text-shadow: none;
}

*::selection {
    background: none repeat scroll 0% 0% #FF8DA1;
    color: #FFF;
    text-shadow: none;
}



  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; font-family: 'Quicksand', sans-serif; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }


/* #Basic Styles
================================================== */
  body {
    background: #fff;
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
  h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-weight: normal; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1 { font-size: 250%; line-height: 50px; margin-bottom: 14px;}
  h2 { font-size: 200%; line-height: 40px; margin-bottom: 10px; }
  h3 { font-size: 150%; line-height: 34px; margin-bottom: 8px; }
  h4 { font-size: 100%; line-height: 30px; margin-bottom: 4px; }
  h5 { font-size: 50%; line-height: 24px; }
  h6 { font-size: 20%; line-height: 21px; }
  .subheader { color: #777; }

  p { margin: 0 0 20px 0; font-size: 140%; line-height: 23px; }
  p img { margin: 0; }
  p.lead { font-size: 21px; line-height: 27px; color: #444; }

  em { font-style: italic; }
  strong { font-weight: bold; color: #444; }
  small { font-size: 80%; }

/* Blockquotes */
  blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #444; font-style: italic; }
  blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
  blockquote cite { display: block; font-size: 12px; color: #444; }
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #444; }

  hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
  a, a:visited { color: #444; text-decoration: underline; outline: 0; }
  a:hover, a:focus { color: #444; }
  p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
  ul, ol { margin-bottom: 20px; margin-left: 15px; }
  ol { list-style: decimal; }
  ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
  ul.square { list-style: square outside; }
  ul.circle { list-style: circle outside; }
  ul.disc { list-style: disc outside; }
  ul ul, ul ol,
  ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%; }
  ul ul li, ul ol li,
  ol ol li, ol ul li { margin-bottom: 6px; }
  li { line-height: 18px; margin-bottom: 12px; }
  ul.large li { line-height: 21px; }
  li p { line-height: 21px; }

/* #Images
================================================== */

  img.scale-with-grid {
    max-width: 100%;
    height: auto; }


/* #Buttons
================================================== */



/* #Tabs (activate in tabs.js)
================================================== */
  ul.tabs {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: solid 1px #ddd; }
  ul.tabs li {
    display: block;
    width: auto;
    height: 30px;
    padding: 0;
    float: left;
    margin-bottom: 0; }
  ul.tabs li a {
    display: block;
    text-decoration: none;
    width: auto;
    height: 29px;
    padding: 0px 20px;
    line-height: 30px;
    border: solid 1px #ddd;
    border-width: 1px 1px 0 0;
    margin: 0;
    background: #f5f5f5;
    font-size: 13px; }
  ul.tabs li a.active {
    background: #fff;
    height: 30px;
    position: relative;
    top: -4px;
    padding-top: 4px;
    border-left-width: 1px;
    margin: 0 0 0 -1px;
    color: #111;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }
  ul.tabs li:first-child a.active {
    margin-left: 0; }
  ul.tabs li:first-child a {
    border-width: 1px 1px 0 1px;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px; }
  ul.tabs li:last-child a {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }

  ul.tabs-content { margin: 0; display: block; }
  ul.tabs-content > li { display:none; }
  ul.tabs-content > li.active { display: block; }

  /* Clearfixing tabs for beautiful stacking */
  ul.tabs:before,
  ul.tabs:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  ul.tabs:after {
    clear: both; }
  ul.tabs {
    zoom: 1; }


/* #Forms
================================================== */

  form {
    margin-bottom: 20px; }
  fieldset {
    margin-bottom: 20px; }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff; }
  select {
    padding: 0; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #aaa;
    color: #444;
   }
  textarea {
    min-height: 60px; }
  label,
  legend {
    display: block;
    font-weight: bold;
    font-size: 13px; }
  select {
    width: 220px; }
  input[type="checkbox"] {
    display: inline; }
  label span,
  legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }

/* #Misc
================================================== */
  .remove-bottom { margin-bottom: 0 !important; }
  .half-bottom { margin-bottom: 10px !important; }
  .add-bottom { margin-bottom: 20px !important; }
/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
#Base 960 Grid
#Tablet (Portrait)
#Mobile (Portrait)
#Mobile (Landscape)
#Clearing */



/* #Base 960 Grid
================================================== */


    .container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha { margin-left: 0; }
    .column.omega, .columns.omega { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns { width: 40px; }
    .container .two.columns { width: 100px; }
    .container .three.columns { width: 160px; }
    .container .four.columns { width: 220px; }
    .container .five.columns { width: 280px; }
    .container .six.columns { width: 340px; }
    .container .seven.columns { width: 400px; }
    .container .eight.columns { width: 460px; }
    .container .nine.columns { width: 520px; }
    .container .ten.columns { width: 580px; }
    .container .eleven.columns { width: 640px; }
    .container .twelve.columns { width: 700px; }
    .container .thirteen.columns { width: 760px; }
    .container .fourteen.columns { width: 820px; }
    .container .fifteen.columns { width: 880px; }
    .container .sixteen.columns { width: 940px; }

    .container .one-third.column { width: 300px; }
    .container .two-thirds.column { width: 620px; }

    /* Offsets */
    .container .offset-by-one { padding-left: 60px; }
    .container .offset-by-two { padding-left: 120px; }
    .container .offset-by-three { padding-left: 180px; }
    .container .offset-by-four { padding-left: 240px; }
    .container .offset-by-five { padding-left: 300px; }
    .container .offset-by-six { padding-left: 360px; }
    .container .offset-by-seven { padding-left: 420px; }
    .container .offset-by-eight { padding-left: 480px; }
    .container .offset-by-nine { padding-left: 540px; }
    .container .offset-by-ten { padding-left: 600px; }
    .container .offset-by-eleven { padding-left: 660px; }
    .container .offset-by-twelve { padding-left: 720px; }
    .container .offset-by-thirteen { padding-left: 780px; }
    .container .offset-by-fourteen { padding-left: 840px; }
    .container .offset-by-fifteen { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container { width: 768px; }
        .container .column,
        .container .columns { margin-left: 10px; margin-right: 10px; }
        .column.alpha, .columns.alpha { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega { margin-right: 0; margin-left: 10px; }
        .alpha.omega { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns { width: 28px; }
        .container .two.columns { width: 76px; }
        .container .three.columns { width: 124px; }
        .container .four.columns { width: 172px; }
        .container .five.columns { width: 220px; }
        .container .six.columns { width: 268px; }
        .container .seven.columns { width: 316px; }
        .container .eight.columns { width: 364px; }
        .container .nine.columns { width: 412px; }
        .container .ten.columns { width: 460px; }
        .container .eleven.columns { width: 508px; }
        .container .twelve.columns { width: 556px; }
        .container .thirteen.columns { width: 604px; }
        .container .fourteen.columns { width: 652px; }
        .container .fifteen.columns { width: 700px; }
        .container .sixteen.columns { width: 748px; }

        .container .one-third.column { width: 236px; }
        .container .two-thirds.column { width: 492px; }

        /* Offsets */
        .container .offset-by-one { padding-left: 48px; }
        .container .offset-by-two { padding-left: 96px; }
        .container .offset-by-three { padding-left: 144px; }
        .container .offset-by-four { padding-left: 192px; }
        .container .offset-by-five { padding-left: 240px; }
        .container .offset-by-six { padding-left: 288px; }
        .container .offset-by-seven { padding-left: 336px; }
        .container .offset-by-eight { padding-left: 384px; }
        .container .offset-by-nine { padding-left: 432px; }
        .container .offset-by-ten { padding-left: 480px; }
        .container .offset-by-eleven { padding-left: 528px; }
        .container .offset-by-twelve { padding-left: 576px; }
        .container .offset-by-thirteen { padding-left: 624px; }
        .container .offset-by-fourteen { padding-left: 672px; }
        .container .offset-by-fifteen { padding-left: 720px; }
    }


/* #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.



* require monologue/blog/skeleton/layout
* require monologue/foundation_icons/social_foundicons
* require monologue/blog/monologue
* require monologue/blog/fonts
* require monologue/blog/custom
*/
/*
.blog-container
}*/

/*.content article h2, .content article h3, .content article h4, .content article h5, .content article h6, .content section h2, .content section h3, .content section h4, .content section h5, .content section h6 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    width: 300px !important;
    margin-left: -5px;
    color: #444;
}*/


body {
    background-color: #2DCCD3 !important;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: #404042;
    line-height: 18px;
    background-color: white;
    /*-webkit-font-smoothing: antialiased;*/
}

.social-blog a:hover {
    
}
.lashful {
    position: fixed;
    z-index: 900;
    font-family: 'Grand Hotel', cursive !important;
    margin-left: 4.5%;
    margin-top: -150px;
    text-decoration: none;
    font-size: 2em;
    color: #2DCCD3 !important;
}

.lashful span {
     color: #FF8DA1;
}

/*span {
color: #FF8DA1;
}
*/


.background img {
position: fixed;

}



.nav-slide-right li {
margin-bottom: 40px !important;
}

.blog-button {

background-color:rgba(0, 0, 0, 0);
width: 25px;
margin-top: 8px;
margin-right: 0px;
cursor: pointer;

}

.blog-container {
    margin-top: 180px;
    margin-left: 20%;
    margin-right: 20% !important;

}

.pink_font {
    color: #FF8DA1 !important;
}
/*
.show_post .post-header {
    margin-left: 145px;
    width: 600px;
}

*/
.post-header h1 a {
    text-decoration: none !important;
    color: #F9F9F9;
}

.inner-content {
    margin-bottom: 30px;
    margin-top: 20px;
    /*border-bottom: 1px solid #444;*/
}

.content {
   margin-top: 50px !important;
}

.content h1, .content h2, .content h3, .content h4 {
    font-family: 'Quicksand', sans-serif;
}

#user-info {
    margin-bottom: 15px;
    border: 1px solid #F9F9F9;
    padding: 10px;
}

.show_post .content {
    margin-top: 20px;
}

span.user, .user time{
    width: 10% !important;
    color: #F9F9F9;
}


.user span {
    color: #444;
}

blockquote {
    margin: 0px 0px 20px;
    padding: 9px 20px 0px 19px;
    border-left: 1px solid #F9F9F9;
}

.content a {
    color: #F9F9F9;

}
.content img {
    box-shadow: 2px 3px 5px  #7f8c8d;
}

.blog_image {
    width: 10%;
    height: 5%;
    margin-left: 42%;
    box-shadow: none !important;
}

.slide_image {
    width: 20%;
    height: 20%;
    margin-left: 40%;
}




/*.content {
    position: absolute;
    margin-top: 20px;
    margin-left: 23%;
    margin-right: 7% !important;
    width: 90%;
    text-align: left !important;
}
*/

/*.post-header {
border-top: 1px #444 solid !important;
}
*/
/*.content img {
margin-top: 10%;
}
*/


/* Begin Typography Styling */
/*
.blog-container h1 {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
letter-spacing: 1%;
}

.blog-container h2 {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container h3{
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container h4 {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container p {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
color: #444;
width: 90%;
}

.blog-container blockquote {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container ul {
list-style-type: disc;
list-style-color: #FF8DA1;
}
.blog-container li {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container time {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
color: #F9F9F9;
}*/


/*.blog-container span {
font-family: 'Quicksand', sans-serif;
font-weight: normal !important;
color: #FF8DA1;
}*/
/*
.blog-container a {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
color: #2DCCD3;
text-decoration: none;
}

.blog-container h1 a {
color: #2DCCD3;
text-decoration: none;
font-size: 0.8em;
}*/

/* End Typography Styling */

/*begin main header*/

#header-logo-2 {

position: fixed;
top: 10px;
left: 42.5%;
z-index: 111;
}

/*#header-logo-3-store {
position: fixed;
top: -10%;
left: 43.5%;
z-index: 111;
}*/


.primary-header {
position: fixed;
width: 100%;
background-color: #F9F9F9;
/*border-bottom: 1.5px solid #2DCCD3;*/
height: 80px;
margin-top: -180px;
/*z-index: 100;*/
/*box-shadow: 2px 2px 3px #7f8c8d !important;*/
}

/*.primary-header li {
font-size: 16px;
}*/

/*.main-menu-store {
display: none !important;
margin-top: 15px !important;
margin-left: -10px !important;
}

.main-menu-store ul {
margin-top: 2%;
text-align: left;
list-style: none;
font-family: 'Grand Hotel', cursive !important;
}

.main-menu-store li {
display: inline;
margin-right: 54px;

}

.main-menu-store li a {
display: inline-block;
text-decoration: none;
font-size: 1.2em !important;
color: #444;
padding-bottom: 0% !important;
white-space: nowrap;
}

.main-menu-store li.main-menu-item-1-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-2-store a:hover {
background: url('flourish-1.png') no-repeat 80% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-3-store a:hover {
background: url('flourish-1.png') no-repeat 50% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-4-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-5-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-2-store {
margin-bottom: 1%;
position: fixed;
top: 2%;
z-index: 109;
right: 15%;
}
*/
#header-logo-3-store {
position: fixed;
top: 83px;
left: 44.2%;
z-index: 111;
}

/*
.main-menu-2-store li.main-menu-item-6 a:hover {
color: #2DCCD3;
font-weight: bold;
}

.main-menu-2-store li.main-menu-item-7 a:hover {
color: #2DCCD3;
font-weight: bold;
}*/

/* end main header */

/*.post-header {

width: 250px;
text-align: left !important;
margin-left: 0px;
margin-top: 50px;
position: relative;
z-index: 99;

}


 

.post-header h1{

    line-height: 80%;
    margin-left: 50px;
    margin-bottom: 30px !important;
    text-align: left !important;
    width: 500px !important;
    margin-left: 0px !important;
}

.post-header a{
    color: #F9F9F9 !important;
    margin-left: 0px;
    text-align: left !important;
}

*/

/*.posted {
margin-left: -10%;
text-align: left;
font-size: 1.5em;
width: 10%;

font-weight: 500 !important;
}

.user {
    margin-top: -60px;
    margin-left: -4%;
}
*/


.posted {
    margin-top: -10px;
    width: 100%;

}
.return a {
    position: fixed;
    top: 25px;
    right: 10%;
    z-index: 3000;
    text-decoration: none;
    font-family: 'Grand Hotel', cursive !important;
    font-size: 1em !important;
    color: #FF8DA1;
}

.return a:hover {
    color: #2DCCD3;
}

.social-tagline {
    display: none;
}

#pagination {
    position: fixed;
    top: 25px;
    right: 10%;
    z-index: 3000;
}
#pagination a {
    text-decoration: none;
      padding-left: 15px;
}

#pagination span {
    font-family: 'Grand Hotel', cursive !important;
    font-size: 1.5em;
}

.newer_posts span {
    color: #FF8DA1;
}

.older_posts span{
    color: #444 !important;
}

/*.blog-container span {
font-family: 'Quicksand',sans-serif;
color: #FF8DA1;

}*/

/*ime {
font-size: 1em !important;
top: -25px;
width: 180px;
margin-left: 138px;
font-size: 0.6em !important;
position: absolute; ;
}

h1 a {
margin-left: -50%;
text-align: left !important;
}

span.user {
    font-family: 'Quicksand', sans-serif;
    color: #F9F9F9;
    top: -25px;
    width: 50% !important;
    margin-left: 14px !important;
    font-weight: 100;
    font-size: 0.6em;
    position: absolute;
}



.post-header span:after {
    content: "";
}*/

.blog-container img {
/*min-width: 80%;
max-width: 70%;
min-height: 100%;
max-height: 130%;*/
/*box-shadow: 1px 1px 10px #FF8DA1;
position: absolute;*/
/*top: 50px;
margin-left: 0p
}



.gone {
opacity: 0.3;
transition: opacity .50s ease-in-out;
-moz-transition: opacity .50s ease-in-out;
-webkit-transition: opacity .50s ease-in-out;
}
*/


/*
.blog-container section {
width: 50px;
position: relative;
margin-bottom: 10px;
margin-left: 20px;
margin-top: 200px;
}*/
/*
section {
margin-bottom: -5% !important;
}*/

/*.blog-container h1 {
text-align: left;
}*/
/*
.content header {
  margin-left: 10%;
  font-size: 0.8em;
  text-align: center;
  border-bottom: none;
}

.content header h1 {
    margin: 0px 0px 0% -50px;
    text-transform: uppercase;
}


.content p {
    margin-left: 10%;
    margin-top: -20px !important;
    width: 500px !important;
}


#on {
position: absolute;
top: 20px;
margin-left: -115px;
font-size: 1em;
text-transform:lowercase;
font-family: 'Grand Hotel', cursive;
font-style:italic


}
*/

/*.readmore {
margin-left: 16%;
margin-top: 15%;
font-family: 'Grand Hotel', cursive !important;
font-size: 1.3em !important;
}

.readmore:hover {
color: #FF8DA1;
}*/

/*.show_post {
margin-top: 190px;
margin-left: -120px;
}

.show_post .user {
margin-left: -50px !important;

}

.show_post time {
margin-top: 0px;
margin-left: 165px;
font-weight: 100;
}

blockquote {
    margin: 0px 0px 20px;
    padding: 9px 20px 0px 19px;
    border-left: 1px solid #F9F9F9;
}
*/
/*.show_post .content {
    margin-left: 150px;
}


.show_post .content p{
    margin-left: -5px;
}

*/
/*.monologue-social-sharing {
display: none;
}
*/

/*
.show_post header{
width: 800px;
}


.show_post p {
margin-left: 120px;
margin-top: -40px;
}

.show_post #on {
   margin-top: 0px;
   margin-left: -25px;
}

.show_post h1 {
margin-left: 0px !important;
width: 70px;
}



p.return {
    display: absolute;
    margin-left: 14.5%;
    margin-top: 40% !important;
}


.return a:hover {
color: #F9F9F9;
    
}*/

/*.social-tagline span {
font-size: 1em;
margin-left: -92% !important;
}*/


/*#social-share {
width: 50%;
}
#social-share #facebook {
position: absolute;
margin-left: -2%;
}

.monologue-social-sharing {
width: 70%;
margin-left: 10%;
border-top: 1px #FF8DA1 solid !important;
}
.social-tagline span{
color: #2DCCD3 !important;
}


.older_posts span {
    position: fixed;
    width: 10%;
    font-size: 1em;
    bottom: 590px !important;
    margin-bottom: 0px !important;
    margin-left: 50%;
    font-family: 'Grand Hotel', cursive !important;
    z-index: 500;
    color: #2DCCD3;

}

.older_posts span:hover {
color: #2DCCD3;

}
*/
/*
.newer_posts span{
    color: #444 !important;
    position: fixed;
    width: 10%;
    font-size: 1em;
    bottom: 590px !important;
    margin-left: 40%;
    font-family: 'Grand Hotel', cursive !important;
    z-index: 500;
}*/

/*.newer_posts span:hover {
color: #2DCCD3;

}*/

/*svg {
display: none;
}
*/

}

button {
    border: none;
    height: 19px !important;
    z-index: 210 !important;
    top: 20px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
   
button:focus {outline:none;} button::-moz-focus-inner {border:0;}

#main-wrapper {

    height: auto !important;
    height: 100%;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


nav.menu {
    position: fixed;
    z-index: 200 !important;
    background-color: #FF8DA1 !important;
    background-repeat: repeat no-repeat;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



nav.menu ul {
    margin: 0;
    padding: 0;
}

nav.menu-ar ul {
    margin: 0;
    padding: 0;
}

nav.menu a {
    color: #bdc3c7;
    font-family: 'Grand Hotel', cursive !important;
    font-weight: normal;
    font-size: 2em !important;
    text-decoration:none;
}


/* slide menu left and right, push menu left and right */

nav.push-menu-left,
nav.push-menu-right {
    top: 0;
    width: 300px;
    height: 100%;
}

nav.push-menu-left li,
nav.push-menu-right li {
    display: block;
    text-align: center;
    text-decoration: none;
}

nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
    border-top: none;
    margin-top: 20%;
}

nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
    border-bottom: none
}

nav.push-menu-left a,
nav.push-menu-right a {
    display: block;
    padding-top: 10px;
    font-size: 18px;
}


nav.push-menu-left {
    left: -300px
}

nav.push-menu-right {
    right: -300px
}

body.pml-open nav.push-menu-left {
    left: 0
}

body.pmr-open nav.push-menu-right {
    right: 0
}
body.pml-open #wrapper {
    left: 300px
}
body.pmr-open #wrapper {
    left: -300px
}




/* footer */

.glass-blog {
    position:fixed;
    z-index: 11200;
    bottom: -2%;
    width: 100%;
    height: 53%;
    background-color: #444;


/* background-position: center bottom;
background-attachment: fixed;
background-size: cover;
content: "";*/
}


.glass-blog h1 {
    color: #2DCCD3;
    font-family: 'Grand Hotel', cursive;
    margin-bottom: -0.5%;
    font-size: 2em;
}

.glass-blog h2 {
    color: #ecf0f1;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em !important;
    font-weight: bold;
    font-style: normal;
    margin-top: 4%;
    letter-spacing: 0.1em;
}

.glass-blog h3 {
    color: #ecf0f1;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em !important;
    font-weight: bold;
    font-style: normal;
    margin-top: 4%;
    letter-spacing: 0;
}

.glass-blog p {
    color: #ecf0f1;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em;
    font-weight: normal;
}

.glass-blog p span {
    font-size: 0.8em;
    font-weight: bold;
}

.glass-blog a {
    color: #FF8DA1;
    text-decoration: none;
    font-size: 1em;
    border-bottom: .1em dotted #2DCCD3;
    font-weight: normal;
    letter-spacing: .05em;
}

.glass-blog a:hover {
    color: #2DCCD3 !important;
}

.glass-blog img a {
    border-bottom: none;
}

.glass-blog address {
    font-style: normal;
    color: #ecf0f1;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    margin-top: 4%;
}

.glass-blog input {
    padding: 2% 3%;
    background-color: #FF8DA1 !important;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.6em;
    color: #444;
    border-radius: 0.4em;
    width: 60% !important;
    margin-top: 3%;
}
.contact-column-1-blog {
    padding-left: 4%;
    margin-top: -20px !important;
    padding-bottom: -50px !important;
    padding-top: -50px !important;
}

.contact-column-1-blog span {
    color: #FFF !important;
    font-size: 1.2em !important;
}

.contact-column-2-blog {
    font-size: 1em;
    padding-left: 2%;
     margin-top: -20px !important;
    padding-top: 0%;
    margin-left: 0% !important;
}

.contact-column-2-blog p {
    margin-top: 5%;
    font-size: 1.1em;
}

.contact-column-3-blog {
    margin-left: 1% !important;
    margin-top: -20px !important;
}

.contact-column-3-blog input {
    color: #FFF !important;
    -webkit-text-fill-color: #FFF;
    font-size: 0.8em;
    height: 20px !important;
    font-weight: 600 !important;
}


.info-store ul {
    margin-right: 20px !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    color: #ecf0f1 !important;
    border-bottom: none;

}

.contact-column-3 {
    padding-left: 2%;
    padding-top: 0%;
}

.contact-column-3 a {
    border-bottom: none;
}

.contact-column-3 img {
    margin-top: 3%;
    margin-right: 1%;
}

.facebook a:hover {
    background: url('facebook_pink.png');
}

.social-blog a{
    border-bottom: none !important;
}
.contact-column-4 {
    padding-left: 2%;
    padding-top: 0%;
}

.contact-column-4 {
    font-size: 0.8em;
}

.contact-column-4 a {
    border: none;
}

.contact-column-4 img {
    margin-left: 25%;
}


.footer-blog {
    position: absolute;
    top: 87%;
    bottom: 0;
    margin-left: 5%;
}

.footer-blog img {

    margin-left: 0%;

}

.footer-blog p {
    font-size: .7em;
    margin-left: 3.8%;
}

.footer-blog h1 {
    text-align: center;
    margin: -4% 4% 0 0;
}

.footer-blog ul {
    margin-top: -55px;
    margin-right: 3.8%;
    text-align: right;
    text-decoration: none !important;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7em !important;
    border-bottom: none !important;

}

.footer-blog ul a {
    border-bottom: none !important;
}

.footer-blog li {
    display: inline;
    padding-left: 2%;
}

.footer-blog li a {
    color: #FFF !important;
}


.intro-contact-footer img {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 1.2%;
    top: 3.8%;
    list-style: none !important;
}

.h1 {
    margin-top: 35px;
    font-weight: 500;
    font-size: 2.6em;
}
/*.span {
font-size: 1em !important;
margin-top: -25px !important;
}*/

.h2 {
    font-size: 1.7em !important;
    margin-top: -3px !important;
}


.copyright-blog {
    margin-left: 52px !important;
    margin-top: 15px !important;
    font-size: 0.8em !important;
}

.gallery-blog {
    margin-top: -20px !important;
    margin-left: 0px !important;
}

.h3 {
    font-size: 1.5em !important;
}

.info-blog {
    margin-right: 2% !important;

}

.info-store a {
    font-size: 0.7em !important;
}
/* end of footer */


.nav-slide-right li a{
    /*-webkit-font-smoothing: antialiased !important;*/
    font-weight: 500 !important;
}

#social-share {
    display: none;
}

@media only screen and (max-width : 860px) {

    .contact-column-3-blog {
        margin-left: 15% !important;
    }
    .contact-column-2-blog {
       margin-left: 5% !important; 
    }

    #pagination {
        top: 50px;
        left: 30px !important;
        font-size: 0.8em;
    }

    .lashful {
       font-size: 1.5em; 
    }

    .return a {
    right: 10%;
    }


}


@media only screen and (max-width : 400px) {

    #header-logo-2 {
        margin-left: -15%;
    }

.contact-column-2-blog p {
  margin-top: -60px;
  font-size: 1.1em;
  margin-left: 150px;
  width: 150px;
}


    .glass-blog address {
    font-style: normal;
    color: #ecf0f1;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    margin-top: -20px;
    margin-left: 20px;
}

    .glass-blog h2 {
    color: #ecf0f1;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em !important;
    font-weight: bold;
    font-style: normal;
    margin-top: 4%;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    }

    .glass-blog h1 {
      display: none;
    }

    .contact-column-1-blog {

    width: 250px !important;
    margin-top: 10px !important;
    text-align: center;
    font-size: 1.3em;
    margin-top: 50px !important;
}


    .gallery-blog {
    display: none;
    }

    .copyright-blog {
      margin-left: 52px !important;
      margin-top: 10px !important;
      font-size: 0.8em !important;
    }

    .return {
    background-image: url('https://s3.amazonaws.com/sweetandlashfulcom/Images/arrow_pink.png');
    background-repeat: no-repeat;
    background-size: 40px;
    height: 70px;
    position: relative;
    top: -590px;
    left: -60px;
    }

    .return a {
     display: none !important; 
    }

    .nav-slide-right li a {

      margin: -10px;
      font-size: 32px;

    }

    .glass-blog {
        font-size: 0.8em;
        height: 450px;
    }

    #header-logo-3-store {
        margin-left: -10%;
        display: none;
    }

    .social-blog {
        width: 150px;
        margin-top: 100px;
        margin-left: -120px;
    }

    .contact-column-1-blog {
        width: 150px !important;
        margin-top: 10px !important;
    }
    .contact-column-2-blog {
        width: 150px !important;
        margin-left: 2% !important;
        padding-top: 30px;
    }

    input, .contact-column-3-blog h3, .contact-column-3-blog h1 {display: none !important}

    #pagination {
        top: 130px;
        margin-left: 30px !important;
    }


    .blog_image {
        width: 20%;
        height: 5%;
        margin-left: 42%;
    }

    .lashful {
        display: none;
    }

    .older_posts span, .newer_posts span{
    color: #444 !important;
    }
    .return a {
    left: 1%;
    }






}


