/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.

*= require monologue/blog/skeleton/base
*= require monologue/blog/skeleton/skeleton
*= require monologue/blog/skeleton/layout
*= require monologue/foundation_icons/social_foundicons
*= require monologue/blog/monologue
*= require monologue/blog/fonts
*= require monologue/blog/custom
*/
/*
.blog-container 
}*/

.background img {
	position: fixed;
}

.blog-container {
	margin-top:0%;
	position: absolute;
	width: 95%;
	margin-left: 2%;
}
.content {
	margin-top: 2%;
	margin-left: 0%;
	padding-top: 0%;
	width: 100%;
	position: relative;
	text-align: left !important;
}

.post-header {
	border-top: 1px #FF8DA1 solid !important;
}

.content p {
	margin-left: 8%;
}

.content img {

}



/* Begin Typography Styling */

.blog-container h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	letter-spacing: 1%;
}

.blog-container h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}

.blog-container h3{
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}

.blog-container h4 {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}

.blog-container p {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	color: #444;
	width: 80%;
}

.blog-container blockquote {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}

.blog-container ul {
	list-style-type: disc;
	list-style-color: #FF8DA1;
}
.blog-container li {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}

.blog-container time {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	color: #444;
}


.blog-container span {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal !important;
	color: #FF8DA1;
	font-size: 0.55em;
}

.blog-container a {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	color: #2DCCD3;
	text-decoration: none;
}

.blog-container h1 a {
	color: #2DCCD3;
	text-decoration: none;
	font-size: 0.8em;
}

/* End Typography Styling */

/*begin main header*/

#header-logo-2 {

position: fixed;
top: 1.5%;
left: 43%;
z-index: 111;
}

/*#header-logo-3-store {
position: fixed;
top: -10%;
left: 43.5%;
z-index: 111;
}*/


.primary-header {
width: 110%;
position: fixed;
background-color: #F9F9F9;
border-bottom: 1.5px solid #2DCCD3;
height: 9.5%;
z-index: 100;
box-shadow: 1px 1px 3px #FF8DA1;
margin-left: -2%;
margin-top: -0.7%;
padding-bottom: 1.1%;
}

.primary-header li {
font-size: 16px;
}

.main-menu-store {
margin-top: 0.5% !important;
margin-left: -2% !important;
}

.main-menu-store ul {
margin-top: 2%;
text-align: left;
list-style: none;
font-family: 'Grand Hotel', cursive !important;
}

.main-menu-store li {
display: inline;
margin-right: 8%;

}

.main-menu-store li a {
display: inline-block;
text-decoration: none;
font-size: 1.2em !important;
color: #444;
padding-bottom: 0% !important;
white-space: nowrap;
}

.main-menu-store li.main-menu-item-1-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-2-store a:hover {
background: url('flourish-1.png') no-repeat 80% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-3-store a:hover {
background: url('flourish-1.png') no-repeat 50% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-4-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-5-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-2-store {
margin-bottom: 1%;
position: fixed;
top: 2%;
z-index: 109;
right: 15%;
}

#header-logo-3-store {
	position: fixed;
	top: 12.5%;
	left: 43.5%;
	z-index: 111;
}


.main-menu-2-store li.main-menu-item-6 a:hover {
color: #2DCCD3;
font-weight: bold;
}

.main-menu-2-store li.main-menu-item-7 a:hover {
color: #2DCCD3;
font-weight: bold;
}

/* end main header */

.post-header {
	
	width: 90%;
	text-align: left !important;
	margin-left: 0%;
	margin-top: 5%;
	position: relative;
	z-index: 99;



}
.post-header  h1{ 
	margin-left: 20%;
	text-align: left !important;
	width: 130%;
	margin-left: 0% !important;
}

.post-header a{
	margin-left: 0%;
	text-align: left !important;

}

.posted {
	margin-left: -10%;
	width: 6%;
	text-align: center;
	font-size: 2.5em;
	font-weight: 800 !important;
}

.blog-container span {
    font-family: 'Quicksand',sans-serif;
    color: #FF8DA1;

}

.button {
	margin-left: 5%;

}

time {
	font-size: 1em !important;
	top: -25px;
	width: 300px;
	margin-left: 90px;
	font-size: 1em !important;
	position: absolute; ;
}

h1 a {
	margin-left: -50%;
	text-align: left !important;
}

span.user {
	top: -25px;
	width: 130px !important;
	margin-left: 6%;
	font-size: 0.6em;
	position: absolute;
}



.post-header span:after {
    content: "";
}

.blog-container img {
	/*min-width: 80%;
	max-width: 70%;
	min-height: 100%;
	max-height: 130%;*/
	/*box-shadow: 1px 1px 10px #FF8DA1;
	position: absolute;*/
	top: -10%;
	margin-left: 0%;
}

.active {
	z-index: 100;
	background-color: rgba(231, 76, 60, 0.4);
}

.gone {
	opacity: 0.3;
	   transition: opacity .50s ease-in-out;
	   -moz-transition: opacity .50s ease-in-out;
	   -webkit-transition: opacity .50s ease-in-out;
}

/*.foggy {
	background-color: rgba(231, 76, 60, 0.4);

}*/

#pagination {
    margin: 0px 0px 0px;
    border-top: none;

}

.blog-container section {
	width: 50%;
	position: relative;
	margin-bottom: 10%;
	margin-top: 13%;
}

section {
	margin-bottom: -5% !important;
}

.blog-container h1 {
	text-align: left;
}

.content header {
	margin-left: 10%;
    font-size: 12px;
    text-align: center;
    border-bottom: none;
}

.content header h1 {
    margin: 0px 0px 0% -50px;
    text-transform: uppercase;
}


.content p {
	margin-left: 10%;
}



#on {
	position: absolute;
	top: -95%;
	margin-left: 65%;
	font-size: 1em;
	text-transform:lowercase;
	font-family: 'Grand Hotel', cursive;
	font-style:italic


}


.readmore  {
	margin-left: 16%;
	margin-top: 15%;
	font-family: 'Grand Hotel', cursive !important;
	font-size: 1.3em !important;
}

.readmore:hover {
	color: #FF8DA1;
}

.show_post {
	margin-top: 15%;
	margin-left: 3%;
}

.show_post time {
	margin-top: 0%;
	margin-left: 16%;
}

.show_post span {
	margin-left: 6%; /* to edit user in full_post */
}

.show_post header{
	width: 60%;
}


.show_post p {
	margin-left: 10.3%;
}

.show_post #on {
margin-left: 70%;
}


.show_post h1 {
	margin-left: 0% !important;
	width: 70%;
}

.return a {
	font-family: 'Grand Hotel', cursive !important;
	font-size: 1.3em !important;
    
}

.return a:hover {
	color: #FF8DA1;
    
}

.social-tagline span {
	font-size: 1em;
	margin-left: -92% !important;
}


#social-share {
	width: 50%;
}
#social-share #facebook {
	position: absolute;
	margin-left: -2%;
}

.monologue-social-sharing {
	width: 70%;
	margin-left: 10%;
	border-top: 1px #FF8DA1 solid !important; 
}
.social-tagline span{
	color: #2DCCD3 !important;
}


.older_posts span{
	position: absolute;
	width: 10%;
	font-size: 1em;
	margin-top: 5%;
	margin-left: 0%;
	font-family: 'Grand Hotel', cursive !important;

}

.older_posts span:hover {
	color: #2DCCD3;

}


.newer_posts span{
	position: absolute;
	width: 10%;
	font-size: 1em;
	margin-top: 10%;
	margin-left: -20%;
	font-family: 'Grand Hotel', cursive !important;
}

.newer_posts span:hover {
	color: #2DCCD3;

}
