/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.

*= require monologue/blog/skeleton/base
*= require monologue/blog/skeleton/skeleton
*= require monologue/blog/skeleton/layout
*= require monologue/foundation_icons/social_foundicons
*= require monologue/blog/monologue
*= require monologue/blog/fonts
*= require monologue/blog/custom
*/
/*
.blog-container
}*/

.background img {
position: fixed;

}

.nav-slide-right li {
margin-bottom: 40px !important;
}

.blog-button {

background-color:rgba(0, 0, 0, 0);
width: 20px;
margin-top: 10px;
margin-right: 10px;
cursor: pointer;

}

.blog-container {
margin-top: 0px;
position: absolute;
width: 1300px;
margin-left: 40px;
}
.content {
margin-top: 20px;
margin-left: 5px;
padding-top: 0px;
margin-right: 400px;
width: 100%;
position: relative;
text-align: left !important;
}


.post-header {
border-top: 1px #FF8DA1 solid !important;
}

.content img {
margin-top: 10%;
}



/* Begin Typography Styling */

.blog-container h1 {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
letter-spacing: 1%;
}

.blog-container h2 {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container h3{
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container h4 {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container p {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
color: #444;
width: 90%;
}

.blog-container blockquote {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container ul {
list-style-type: disc;
list-style-color: #FF8DA1;
}
.blog-container li {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.blog-container time {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
color: #444;
}


.blog-container span {
font-family: 'Quicksand', sans-serif;
font-weight: normal !important;
color: #FF8DA1;
font-size: 0.55em;
}

.blog-container a {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
color: #2DCCD3;
text-decoration: none;
}

.blog-container h1 a {
color: #2DCCD3;
text-decoration: none;
font-size: 0.8em;
}

/* End Typography Styling */

/*begin main header*/

#header-logo-2 {

position: fixed;
top: 1.5%;
left: 41%;
z-index: 111;
}

/*#header-logo-3-store {
position: fixed;
top: -10%;
left: 43.5%;
z-index: 111;
}*/


.primary-header {
width: 110%;
position: fixed;
background-color: #F9F9F9;
border-bottom: 1.5px solid #2DCCD3;
height: 9%;
z-index: 100;
box-shadow: 1px 1px 3px #FF8DA1 !important;
margin-left: -2%;
margin-top: -0.7%;
padding-bottom: 1.1%;
}

.primary-header li {
font-size: 16px;
}

.main-menu-store {
	display: none !important;
margin-top: 15px !important;
margin-left: -10px !important;
}

.main-menu-store ul {
margin-top: 2%;
text-align: left;
list-style: none;
font-family: 'Grand Hotel', cursive !important;
}

.main-menu-store li {
display: inline;
margin-right: 54px;

}

.main-menu-store li a {
display: inline-block;
text-decoration: none;
font-size: 1.2em !important;
color: #444;
padding-bottom: 0% !important;
white-space: nowrap;
}

.main-menu-store li.main-menu-item-1-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-2-store a:hover {
background: url('flourish-1.png') no-repeat 80% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-3-store a:hover {
background: url('flourish-1.png') no-repeat 50% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-4-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-5-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-2-store {
margin-bottom: 1%;
position: fixed;
top: 2%;
z-index: 109;
right: 15%;
}

#header-logo-3-store {
position: fixed;
top: 11.1%;
left: 41.2%;
z-index: 111;
}


.main-menu-2-store li.main-menu-item-6 a:hover {
color: #2DCCD3;
font-weight: bold;
}

.main-menu-2-store li.main-menu-item-7 a:hover {
color: #2DCCD3;
font-weight: bold;
}

/* end main header */

.post-header {

width: 320px;
text-align: left !important;
margin-left: 0px;
margin-top: 50px;
position: relative;
z-index: 99;

}
 

.post-header h1{
margin-left: 50px;
text-align: left !important;
width: 390px !important;
margin-left: 0px !important;
}

.post-header a{
margin-left: 0px;
text-align: left !important;
}

.posted {
margin-left: -10%;
width: 6%;
text-align: center;
font-size: 2.5em;
font-weight: 800 !important;
}

.blog-container span {
    font-family: 'Quicksand',sans-serif;
    color: #FF8DA1;

}

time {
font-size: 1em !important;
top: -25px;
width: 150px;
margin-left: 165px;
font-size: 1em !important;
position: absolute; ;
}

h1 a {
margin-left: -50%;
text-align: left !important;
}

span.user {
top: -25px;
width: 130px !important;
margin-left: 18px !important;
font-size: 0.6em;
position: absolute;
}



.post-header span:after {
    content: "";
}

.blog-container img {
/*min-width: 80%;
max-width: 70%;
min-height: 100%;
max-height: 130%;*/
/*box-shadow: 1px 1px 10px #FF8DA1;
position: absolute;*/
top: 50px;
margin-left: 0px;
}

.active {
z-index: 100;
background-color: rgba(231, 76, 60, 0.4);
}

.gone {
opacity: 0.3;
transition: opacity .50s ease-in-out;
-moz-transition: opacity .50s ease-in-out;
-webkit-transition: opacity .50s ease-in-out;
}

/*.foggy {
background-color: rgba(231, 76, 60, 0.4);

}*/

#pagination {
    margin: 0px 0px 0px;
    border-top: none;

}

.blog-container section {
width: 50px;
position: relative;
margin-bottom: 10px;
margin-left: 20px;
margin-top: 200px;
}

section {
margin-bottom: -5% !important;
}

.blog-container h1 {
text-align: left;
}

.content header {
margin-left: 10%;
    font-size: 0.8em;
    text-align: center;
    border-bottom: none;
}

.content header h1 {
    margin: 0px 0px 0% -50px;
    text-transform: uppercase;
}


.content p {
margin-left: 0%;
margin-top: 0.5px !important;
width: 500px !important;
}


#on {
position: absolute;
top: -1.5px;
margin-left: -105px;
font-size: 1em;
text-transform:lowercase;
font-family: 'Grand Hotel', cursive;
font-style:italic


}


.readmore {
margin-left: 16%;
margin-top: 15%;
font-family: 'Grand Hotel', cursive !important;
font-size: 1.3em !important;
}

.readmore:hover {
color: #FF8DA1;
}

.show_post {
margin-top: 190px;
margin-left: -120px;
}

.show_post .user {
margin-left: 53px !important;

}

.show_post time {
margin-top: 0px;
margin-left: 200px;
}



.monologue-social-sharing {
display: none;
}


.show_post header{
width: 800px;
}


.show_post p {
margin-left: 140px;
margin-top: -40px;
}

.show_post #on {
   margin-top: 0px;
   margin-left: -105px;
}

.show_post h1 {
margin-left: 0px !important;
width: 70px;
}

.return a {
font-family: 'Grand Hotel', cursive !important;
font-size: 1.3em !important;
}

p.return {
margin-top: 10% !important;
}



.return a:hover {
color: #FF8DA1;
    
}

.social-tagline span {
font-size: 1em;
margin-left: -92% !important;
}


#social-share {
width: 50%;
}
#social-share #facebook {
position: absolute;
margin-left: -2%;
}

.monologue-social-sharing {
width: 70%;
margin-left: 10%;
border-top: 1px #FF8DA1 solid !important;
}
.social-tagline span{
color: #2DCCD3 !important;
}


.older_posts span{
position: absolute;
width: 10%;
font-size: 1em;
margin-top: 5%;
margin-left: 0%;
font-family: 'Grand Hotel', cursive !important;

}

.older_posts span:hover {
color: #2DCCD3;

}


.newer_posts span{
position: absolute;
width: 10%;
font-size: 1em;
margin-top: 10%;
margin-left: -20%;
font-family: 'Grand Hotel', cursive !important;
}

.newer_posts span:hover {
color: #2DCCD3;

}

svg {
display: none;
}

button {
    border: none;
    height: 19px !important;
    z-index: 210 !important;
    top: 20px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
   
button:focus {outline:none;} button::-moz-focus-inner {border:0;}

#main-wrapper {

    height: auto !important;
    height: 100%;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


nav.menu {
    position: fixed;
    z-index: 200 !important;
    background-image: linear-gradient(#111111, #333333);
    background-repeat: repeat no-repeat;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



nav.menu ul {
    margin: 0;
    padding: 0;
}

nav.menu-ar ul {
    margin: 0;
    padding: 0;
}

nav.menu a {
    color: #bdc3c7;
    font-family: 'Grand Hotel', cursive !important;
    font-weight: normal;
    font-size: 2em !important;
    text-decoration:none;
}


nav.menu a:hover {
      color: #FF8DA1 !important;
}

nav.menu a:active {
    border-top: none !important;
}

nav.menu-ar a:active {
    border-top: none !important;
}

/* slide menu left and right, push menu left and right */

nav.push-menu-left,
nav.push-menu-right {
    top: 0;
    width: 300px;
    height: 100%;
}

nav.push-menu-left li,
nav.push-menu-right li {
    display: block;
    text-align: center;
    text-decoration: none;
}

nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
    border-top: none;
    margin-top: 20%;
}

nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
    border-bottom: none
}

nav.push-menu-left a,
nav.push-menu-right a {
    display: block;
    padding-top: 10px;
    font-size: 18px;
}


nav.push-menu-left {
    left: -300px
}

nav.push-menu-right {
    right: -300px
}

body.pml-open nav.push-menu-left {
    left: 0
}

body.pmr-open nav.push-menu-right {
    right: 0
}
body.pml-open #wrapper {
    left: 300px
}
body.pmr-open #wrapper {
    left: -300px
}


@media only screen and (max-width : 1200px) {


.primary-header {
display: none;
}

.blog-button {
display: block;

    }



/* button {
display: block !important;
background-color: #FF8DA1 !important;
width: 20px;
}*/

    
    .show_post p {
     margin-left: 0px;
    }

.blog-container {
width: 100px;
margin-top: 0px;
margin-left: 10px;
}

.show_post {
margin-left: 10px !important;
}


.show_post time {
margin-left: 160px !important;
}


p.return {
margin-top: 70% !important;
margin-left: 5px !important;
width: 100% !important;
}

.show_post .user {
margin-left: 18px !important;
}

#header-logo-2, #header-logo-3-store {
margin-left: -45px !important;
}

#header-logo-3-store {
margin-top: -10px;
}


time {
margin-left: 160px !important;
}

.background img {
position: fixed;
width: 250%;

    }
    .social-tagline {
     margin-left: 75px !important;
    }

    span.user {
     margin-left: 20px !important;
    }

    .post-header {
     margin-left: 5px !important;
     width: 300px !important;
    }

    .social-tagline {
     display: none !important;
    }

    .monologue-social-sharing {
     display: none;
    }

    .content p {
     width: 380% !important;
    }

 


}