/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.

*= require monologue/blog/skeleton/base
*= require monologue/blog/skeleton/skeleton
*= require monologue/blog/skeleton/layout
*= require monologue/foundation_icons/social_foundicons
*= require monologue/blog/monologue
*= require monologue/blog/fonts
*= require monologue/blog/custom
*/
/*
.blog-container h1,h2,h3,h4,p,blockquote, li, time, span, a {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}*/

.background img{
	position: fixed;
}

.blog-container {
	margin-top:7%;
	position: absolute;
	width: 95%;
	margin-left: 2%;
}
.content {
	margin-top: 2%;
}

/*.blog-container section h1,h2,h3,h4,p,blockquote, li, time, span, a {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
}*/

/*begin main header*/

#header-logo-2 {

position: fixed;
top: 1%;
left: 43%;
z-index: 111;
}

#header-logo-3-store {
position: fixed;
top: -10%;
left: 43.5%;
z-index: 111;
}


.primary-header {
width: 110%;
position: fixed;
background-color: #F9F9F9;
border-bottom: 1.5px solid #2DCCD3;
height: 9.5%;
z-index: 100;
box-shadow: 1px 1px 3px #FF8DA1;
margin-left: -2%;
margin-top: -0.5%;
}

.primary-header li {
font-size: 16px;
}

.main-menu-store {
margin-top: 0.5% !important;
margin-left: -2% !important;


}

.main-menu-store ul {
margin-top: 2%;
text-align: left;
list-style: none;
font-family: 'Grand Hotel', cursive !important;
}

.main-menu-store li {
display: inline;
margin-right: 8%;

}

.main-menu-store li a {
display: inline-block;
text-decoration: none;
font-size: 1.2em !important;
color: #444;
padding-bottom: 0% !important;
white-space: nowrap;
}

.main-menu-store li.main-menu-item-1-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-2-store a:hover {
background: url('flourish-1.png') no-repeat 80% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-3-store a:hover {
background: url('flourish-1.png') no-repeat 50% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-4-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-5-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-2-store {
margin-bottom: 1%;
position: fixed;
top: 1.4%;
z-index: 109;
right: 15%;
}

#header-logo-3-store {
	position: fixed;
	top: 10%;
	left: 43.5%;
	z-index: 111;
}


.main-menu-2-store li.main-menu-item-6 a:hover {
color: #2DCCD3;
font-weight: bold;
}

.main-menu-2-store li.main-menu-item-7 a:hover {
color: #2DCCD3;
font-weight: bold;
}

/*end main header*