.container {
position: absolute;
width : 90%;
margin-left: 3%;
margin-top: 10%;
}

#wrapper {
margin-top: 10%;
width: 100%;
}

#top-nav-bar {
width: 15%;
position: fixed;
margin-left: 78%;
top: 1%;
z-index: 110;

}

#top-nav-bar a{
color: #444;
font-family: 'Quicksand', sans-serif !important;
}

#top-nav-bar a:hover {
color: #FF8DA1;

}

#second {
height: 800px;
background: url('background-grey.png') repeat;
background-position: 0% 100%;
}

#third {
height: 800px;
background: url('background-grey.png') repeat;
background-position: 0% 100%;
}



#fourth {
height: 800px;
background: url('background-grey.png') repeat;
background-position: 0% 100%;
}

#fifth {
height: 800px;
background: url('background-grey.png') repeat;
background-position: 0% 100%;
}


/*begin main header*/

#header-logo-2 {

position: fixed;
top: 1.5%;
left: 43%;
z-index: 111;
}

#header-logo-3-store {
position: fixed;
top: 12.5%;
left: 43.5%;
z-index: 111;
}


.primary-header {
width: 100%;
position: fixed;
background-color: #F9F9F9;
border-bottom: 1.5px solid #2DCCD3;
height: 11.5%;
z-index: 100;
box-shadow: 1px 1px 3px #FF8DA1;
}

.primary-header li {
font-size: 16px;
}

.main-menu-store {
margin-bottom: 0%;

}

.main-menu-store ul {
margin-top: 2%;
text-align: left;
list-style: none;
font-family: 'Grand Hotel', cursive;
}

.main-menu-store li {
display: inline;
margin-right: 8%;

}

.main-menu-store li a {
display: inline-block;
text-decoration: none;
font-size: 1.2em !important;
color: #444;
padding-bottom: 0% !important;
white-space: nowrap;
}

.main-menu-store li.main-menu-item-1-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-2-store a:hover {
background: url('flourish-1.png') no-repeat 80% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-3-store a:hover {
background: url('flourish-1.png') no-repeat 50% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-4-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-store li.main-menu-item-5-store a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.main-menu-2-store {
margin-bottom: 1%;
position: fixed;
top: 1.4%;
z-index: 109;
right: 15%;
}

.main-menu-2-store ul {
text-align: right;
list-style: none;
font-family: 'Quicksand', sans-serif;
}

.main-menu-2-store li {
display: inline;
margin-right: 8%;
}

.main-menu-2-store li a {
display: inline-block;
text-decoration: none;
font-size: 0.9em;
color: #444;
padding-bottom: 1.5%;
white-space: nowrap;
}

.main-menu-2-store li.main-menu-item-6 a:hover {
color: #2DCCD3;
font-weight: bold;
}

.main-menu-2-store li.main-menu-item-7 a:hover {
color: #2DCCD3;
font-weight: bold;
}

/*end main header*/

.main-menu-item-1-store a {
     width: 5%;
     margin-left: 2% !important;
}

.main-menu-item-2-store a {
     width: 6%;
     margin-left: -7%;
}
.main-menu-item-3-store a {
width: 5%;
}

.main-menu-item-4-store a {
     width: 6%;
     margin-left: -7%;
}

.main-menu-item-5-store a {
     width: 6%;
     margin-left: 5%;
}

.intro-menu {
margin-bottom: 1%;
position: fixed;
top: 0;
z-index: 110;
}

.intro-menu ul {
text-align: center;
margin: 7% 5% 0 0;
list-style: none;
font-family: 'Grand Hotel', cursive;
}

.intro-menu li {
display: inline;
}

.intro-menu li a {
display: inline-block;
text-decoration: none;
font-size: 1.5em;
color: #444;
padding-bottom: 1.5%;
white-space: nowrap;
}

.intro-menu li.menu-item-1 a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}

.intro-menu li.menu-item-2 a:hover {
background: url('flourish-1.png') no-repeat 80% 100%;
color: #FF8DA1;
}

.intro-menu li.menu-item-3 a:hover {
background: url('flourish-1.png') no-repeat 50% 100%;
color: #FF8DA1;
}

.intro-menu li.menu-item-4 a:hover {
background: url('flourish-1.png') no-repeat 100% 100%;
color: #FF8DA1;
}



.menu-item-3 a {
width: 5%;
}
.menu-item-2 a {
     width: 6%;
}

.menu-item-1 a {
     width: 6%;
}

.menu-item-4 a {
     width: 6%;
}

.intro-menu li.menu-item-1 {
margin-left: 0%;
margin-right: 0%;
}

.intro-menu li.menu-item-2 {
margin-left: 7%;
margin-right: 5%;
}


.intro-menu li.menu-item-3 {
margin-left: 30%;
margin-right: 7%;
}

.intro-menu li.menu-item-4 {
margin-left: 0%;
margin-right: 5%;
}


#home-link {
display: none;
}


 nav #main-nav-bar li#link-to-cart {
    position: fixed;
    margin-left: 65%;
    top: 4.4%;
    z-index: 110;
    font-family: 'Quicksand', sans-serif !important;
    text-transform: none;
    background: url('') no-repeat scroll left center transparent;
}

nav #main-nav-bar {
color: #444;
border: none !important;

}

#link-to-cart a{
color: #444 !important;
}

#link-to-cart a:hover{
color: #FF8DA1 !important;
}

nav#top-nav-bar ul li a {
font-weight: 200;
text-transform: none;
}

nav #main-nav-bar li#link-to-cart a .amount {
font-weight: 100;
font-size: 16px;
}

.full {
font-weight: 100 !important;
}



ul#products li .product-image {
border: 0px solid #D9D9DB;
border-radius: 100%;
background-color: #FFF;
z-index: 140;
width: 95%;
padding: 0%;
margin-left: 70%;
margin-bottom: -60%;


}

.product-image img{
margin-top: 4%;
margin-left: 0%;
width: 220px !important;
height: 220px !important;
border-radius: 100%;
position: relative;
z-index: 5;

}

.hidden img {
    opacity: 0;
}

ul#products li .price {
    color: #00ADEE;
    font-size: 16px;
    padding: 30%;
    margin-top: -13% !important;
    display: block;
}

#products {
width: 80% !important;
margin-left: 5%;
}




#content {
width: 100%;
}

.product-listing {
width: 200%;
height: 100%;
margin-left: 0%;
margin-top: -10%;
padding-bottom: -10%;
}



/*.panel {
height: 350px;
width: 100px;
padding: -50%;
margin-bottom: 10%;
position: relative;

}


.card {
position: absolute;
top: 0px;
left: 0px;
}

.front {
z-index: 2;
}

.back {
display: none;

}

.panel:hover .front {
z-index: 1;

}

.panel:hover .back {
display: block;
z-index: 2;

}


.back {
margin-left: 10%;
text-align: center;
}

.front img {
margin-top: -31%;
margin-left: -50%;
width: 450% !important;
height: 300px !important;
border-radius: 50%;
position: absolute;
}*/


.product-description {
padding-top: -70%;
width: 55% !important;
margin-left: 15%;
text-align: center;
position: relative;
text-shadow: 1px 1px 3px #FF8DA1;

}

.price {
margin-bottom: 160% !important;
position: relative;
margin-left: 35% !important;
margin-bottom: 5%;
width: 100%;

}

ul#products li a.info {
    position: relative;
    text-align: center !important;
    height: 30px !important;
    margin-top: -190px;
    margin-left: 90% !important;
    color: #BBB;
    border-bottom: none;
    font-family: 'Grand Hotel', cursive !important;
    font-size: 2em;
    color: #FF8DA1;
    padding-top: 1%;
    width: 50%;

}

.info {
/* position: relative;
text-align: left !important;
margin-left: 20%;
margin-top: -65%;
font-family: 'Grand Hotel', cursive !important;
font-size: 2em;
color: #FF8DA1;*/

   
}

.info a {
font-family: 'Grand Hotel', cursive !important;
}


.add_to_cart {
margin-left: 98% !important;
margin-top: -90%;
font-size: 2em;
font-family: 'Grand Hotel', cursive;
position: relative;
width: 50%;
}




.background img {
position: fixed;
margin-top: -20%;
margin-left: -10%;
z-index: -1;
}

