
<div class="about-container">

<h1 class="about-main">Sweet and Lashful</h1>

	<p>
	 We serve the sweet and bashful clients of Atlanta who seek an enhanced yet natural look. From basic eyelash tinting to eyelash perms to semi-permanent eyelash extensions, Atlanta's Advanced-Certified Lash Stylist Nancy Shim prides in clean, clump-free, meticulous work. She specializes in creating a customized look for each individual while placing safety and proper placement first. No matter how conservative or glamorous the occasion, "Natural" is the key look she strives for so that you will feel just as comfortable being seen as you will wearing them. Nancy also offers eyebrow shaping, eyebrow tint, brow extensions, and permanent makeup. She offers eyeliner, lash enhancement, permanent eyebrows using her favorite hair stroke technique, lips, and areolar regimentation for mastectomy patients.
	</p>


   <%= image_tag('https://s3.amazonaws.com/sweetandlashfulcom/Images/nancy.jpg', :class => 'owner-img') %>

   	<h1 class="about-main">Nancy Shim, Owner &amp Master Stylist</h1>

	<p>Nancy is a medical aesthetician at BLUE Cosmetic Surgery &amp MedSpa, an Advanced-Certified Xtreme Lash Stylist, and an Award-Winning Micropigmentation (Permanent Makeup) Artist in Atlanta, Georgia. She has fixed and corrected many botched lash applications (the result of many online "deals" gone wrong) so that clients can understand the importance of attaining longer and fuller lashes safely.</p>

	<!-- <%= image_tag('flourish_blog.png', :class => 'about_image') %> -->

</div>

