
<div class="about-container">

<h1 class="about-main">Sweet and Lashful</h1>

	<p>Sweet and Lashful is a simple concept for those in the bustling city of Atlanta, Georgia to escape, relax, and wake up with more beautiful lashes safely.</p>


	<h1 class="about-main">Nancy Shim, Owner &amp Master Stylist</h1>

	<p>Nancy Shim is a medical aesthetician, an award-winning micropigmentation (cosmetic tattoo/permanent makeup) artist, and an advanced-certified lash stylist in Atlanta, Georgia. With a love for aesthetics, eye for detail, and meticulous hand-eye coordination, Nancy has had her fair share of having to "fix" many botched jobs from those who did not.</p>

</div>

