
<div class="about-container">

<p>
Gallery in the works. For now, please visit <a href="https://www.facebook.com/aestheticsbynancy">Aesthetics by Nancy</a> for before and afters and like our <strong> <a href="https://www.facebook.com/sweetandlashful">Official Sweet and Lashful Facebook Page</a></strong>.
</p>

    <%= image_tag('flourish_blog.png', :class => 'about_image') %>

</div>

