
<div class="about-container">


   <% image_tag('https://s3.amazonaws.com/sweetandlashfulcom/Images/nancy.jpg', :class => 'owner-img') %>


	<h1 class="about-main">Nancy Shim, Owner &amp Master Stylist</h1>

	<p>With a love for aesthetics, eye for detail, and meticulous hand-eye coordination, Nancy Shim is a medical aesthetician, an advanced-certified lash stylist, and an award-winning micropigmentation (permanent makeup) artist in Atlanta, Georgia. She has fixed and corrected many botched lash applications (the result of many online "deals" gone wrong) so that clients can understand the importance of attaining longer and fuller lashes safely.</p>

	    <%= image_tag('flourish_blog.png', :class => 'about_image') %>

</div>

