/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Home Page*/

/*body{
font-family:"Ubuntu", sans-serif;
font-weight:400;
color:#404042;
line-height:18px;
background-color:white;
-webkit-font-smoothing:antialiased;
}
*/




.statement p {
	position: absolute;
	margin-top: 50px;
	left: 12%;
	color: #FF8DA1;
	font-size: 3em;
	font-family:'Grand Hotel', cursive !important;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.statement span {
	color: #2DCCD3;
}

 button{
width:25px;
border:none;
z-index:210 !important;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}
button:focus{
outline:none;
}

#main-wrapper{
height:auto !important;
height:100%;
position:relative;
z-index:10;
top:0;
left:0;
-webkit-transition:all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s;
transition:all 0.3s;
}
nav.menu{
position:fixed;
background:none repeat scroll 0% 0% #2DCCD3 !important;
overflow:hidden;
-webkit-transition:all 0.3s ease 0s;
-moz-transition:all 0.3s ease 0s;
-o-transition:all 0.3s ease 0s;
transition:all 0.3s ease 0s;
z-index:20;
}
nav.menu ul{
margin:0;
padding:0;
}
nav.menu-ar ul{
margin:0;
padding:0;
}
nav.menu a{
color:#bdc3c7;
font-family:'Grand Hotel', cursive !important;
font-weight:normal;
text-decoration:none;
}
/* slide menu left and right, push menu left and right */

nav.push-menu-left,
nav.push-menu-right{
top:0;
width:300px;
height:100%;
}
nav.push-menu-left li,
nav.push-menu-right li{
display:block;
text-align:center;
text-decoration:none;
}
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child{
border-top:none;
margin-top:20%;
}
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child{
border-bottom:none;
}
nav.push-menu-left a,
nav.push-menu-right a{
display:block;
padding-top:10px;
font-size:3em !important;
}
.push-menu-right a{
margin-bottom:0px !important;
}
nav.push-menu-left{
left:-300px;
}
nav.push-menu-right{
right:-300px;
}
body.pml-open nav.push-menu-left{
left:0;
}
body.pmr-open nav.push-menu-right{
right:0;
}
body.pml-open #wrapper{
left:300px;
}
body.pmr-open #wrapper{
left:-300px;
}
.background-about img{
position:absolute;
margin-top:-10%;
z-index:-3;
}
#intro{
height:800px;
background:url('new_bg3.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size:cover;
-o-background-size: cover;
background-size: cover;
background-position:0% 100%;
}
#second-about{
height:650px;
/*background:url('background-grey.png') no-repeat center center fixed;*/
-webkit-background-size: cover;
-moz-background-size:cover;
-o-background-size: cover;
background-size: cover;
background-position:0% 50%;
}
#second-about ~ .glass{
display:none !important;
}
/*#third{
height:800px;
background:url('background-grey.png') repeat;
background-position:0% 100%;
}
#fourth{
height:800px;
background:url('background-grey.png') repeat;
background-position:0% 100%;
}
#fifth{
height:800px;
background:url('background-grey.png') repeat;
background-position:0% 100%;
}
*/

#header-logo-1{
	position:absolute;
	width:1%;
	top:0;
	left:38%;
	z-index:111;
}
/*begin main header*/

#header-logo-2-main{
	position:fixed;
	top:9.5px;
	left:42.5%;
	z-index:111;
}

/*#header-logo-2-about, #header-logo-2-main{
position:fixed;
top:1.5px;
left:40px;
z-index:111;
}
*/
/*
 #header-logo-2-main{
margin-left:37%;
margin-top:1%;
}
*/

#header-logo-3-store-main{
	position: fixed;
	top:10.8%;
	left: 44%;
	z-index:111;
}
/*#header-logo-3-main{
position:fixed;
top:13px !important;
left:43px;
z-index:111;
}*/
.primary-header-index{
	position:fixed;
	background-color:#F9F9F9;
	border: none !important;
	box-shadow: none !important;
	/*border-bottom:1.5px solid #2DCCD3;*/
	/*-webkit-box-shadow:0px 2px 3px #444 !important;
	-moz-box-shadow:0px 2px 3px #444 !important;*/
	box-shadow: 2px 2px 3px #7f8c8d !important;
	width:100%;
	height:70px !important;
}
.main-menu{
margin-bottom:1%;
position:fixed;
top:1.4%;
z-index:109;
}
.main-menu ul{
text-align:left;
list-style:none;
font-family:'Grand Hotel', cursive;
}
.main-menu li{
display:inline;
margin-right:8%;
}
.main-menu li a{
display:inline-block;
text-decoration:none;
font-size:1.2em !important;
color:#444;
padding-bottom:1.5% !important;
white-space:nowrap;
}
.main-menu li.main-menu-item-1 a:hover{
background:url('flourish-1.png') no-repeat 100% 100%;
color:#FF8DA1;
}
.main-menu li.main-menu-item-2 a:hover{
background:url('flourish-1.png') no-repeat 80% 100%;
color:#FF8DA1;
}
.main-menu li.main-menu-item-3 a:hover{
background:url('flourish-1.png') no-repeat 50% 100%;
color:#FF8DA1;
}
.main-menu li.main-menu-item-4 a:hover{
background:url('flourish-1.png') no-repeat 100% 100%;
color:#FF8DA1;
}
.main-menu li.main-menu-item-5 a:hover{
background:url('flourish-1.png') no-repeat 100% 100%;
color:#FF8DA1;
}
.main-menu-2{
margin-bottom:1%;
position:fixed;
top:1.4%;
z-index:109;
right:15%;
}
.main-menu-2 ul{
text-align:right;
list-style:none;
font-family:'Quicksand', sans-serif;
}
.main-menu-2 li{
display:inline;
margin-right:8%;
}
.main-menu-2 li a{
display:inline-block;
text-decoration:none;
font-size:0.9em;
color:#444;
padding-bottom:1.5%;
white-space:nowrap;
}
.main-menu-2 li.main-menu-item-6 a:hover{
color:#2DCCD3;
font-weight:bold;
}
.main-menu-2 li.main-menu-item-7 a:hover{
color:#2DCCD3;
font-weight:bold;
}
/*end main header*/

.menu-item-1 a{
width:6%;
}
.menu-item-2 a{
width:6%;
}
.menu-item-3 a{
width:5%;
}
.menu-item-4 a{
width:6%;
}
.menu-item-5 a{
width:6%;
}
.intro-menu{
display:none !important;
margin-bottom:1%;
margin-left:-20px !important;
position:absolute !important;
top:0;
z-index:110;
}
.intro-menu ul{
text-align:center;
margin:7% 5% 0 0;
list-style:none;
font-family:'Grand Hotel', cursive;
}
.intro-menu li{
display:inline;
}
.intro-menu li a{
display:inline-block;
text-decoration:none;
font-size:1.5em;
color:#444;
padding-bottom:1.5%;
white-space:nowrap;
}
.copyright-main{
margin-top:220px;
font-size: 1em !important;
}
.intro-menu li.menu-item-1 a:hover{
background:url('flourish-1.png') no-repeat 100% 100%;
color:#FF8DA1;
}
.intro-menu li.menu-item-2 a:hover{
background:url('flourish-1.png') no-repeat 80% 100%;
color:#FF8DA1;
}
.intro-menu li.menu-item-3 a:hover{
background:url('flourish-1.png') no-repeat 50% 100%;
color:#FF8DA1;
}
.intro-menu li.menu-item-4 a:hover{
background:url('flourish-1.png') no-repeat 100% 100%;
color:#FF8DA1;
}
.menu-item-3 a{
width:5%;
}
.menu-item-2 a{
width:6%;
}
.menu-item-1 a{
width:6%;
}
.menu-item-4 a{
width:6%;
}
.intro-menu li.menu-item-1{
margin-left:0%;
margin-right:0%;
}
.intro-menu li.menu-item-2{
margin-left:7%;
margin-right:5%;
}
.intro-menu li.menu-item-3{
margin-left:30%;
margin-right:7%;
}
.intro-menu li.menu-item-4{
margin-left:0%;
margin-right:5%;
}
.intro-contact{
display:none !important;
position:fixed;
left:85%;
top:510px;
z-index:110;
}
#contact-page .intro-contact, #second-about .intro-contact{
display:none;
}
.intro-contact a{
font-family:'Grand Hotel', cursive !important;
text-decoration:none !important;
color:#444 !important;
font-size:2em !important;
padding-bottom:35% !important;
}
.intro-contact a:hover{
background:url('flourish-2.png') no-repeat 55% 70% !important;
}
.intro-contact-footer img{
position:absolute;
width:40px !important;
height:40px !important;
right:1.2%;
top:3.8%;
list-style:none !important;
}
#contact-page .intro-contact-footer{
display:none;
}
.main-menu-store a:hover{
color:#FF8DA1 !important;
}
/*.intro-contact-up{
position:fixed;
left:45%;
top:250px;
z-index:110;
}
.intro-contact-up a{
color:#FF8DA1;
}
.intro-contact-up a:hover{
background:none;
}
*/


/*.glass{
position:absolute;
padding:0;
height:55%;
z-index:99;
}
*/

.glass{
position:fixed;
z-index:500;
bottom:-2%;
width:100%;
height:53%;
background:url('new_bg3_blurry.jpg');
background-position:center bottom;
background-attachment:fixed;
-webkit-background-size: cover;
-moz-background-size:cover;
-o-background-size: cover;
background-size: cover;
content:"";
}
.glass h1{
color:#2DCCD3;
font-family:'Grand Hotel', cursive;
margin-bottom:-0.5%;
font-size: 2.5em;
font-weight: 100;
}
.glass h2{
color:#ecf0f1;
font-weight: 100;
font-family:'Quicksand', sans-serif;
font-size:1.7em;
-webkit-font-size:5em;
font-weight:bold;
font-style:normal;
margin-top:4%;
letter-spacing:0.1em;
}

.contact-column-1-main span {
	color: #FFF;
	font-size: 1.2em !important;
	font-weight: 100;
	letter-spacing: 0px;
	margin-top: -55% !important;
}

.glass h3{
color:#ecf0f1;
font-family:'Quicksand', sans-serif;
font-size:1em;
font-weight:bold;
font-style:normal;
margin-top:4%;
letter-spacing:0;
}
.glass p{
color:#ecf0f1;
font-family:'Quicksand', sans-serif;
font-size:0.9em;
font-weight:normal;
}
.glass p span{
font-size:0.8em;
font-weight:bold;
}
.glass a{
color:#FF8DA1 !important;
text-decoration:none;
border-bottom:.1em dotted #2DCCD3;
font-weight:normal;
letter-spacing:.05em;
}
.glass a:hover{
color:#2DCCD3 !important;
}
.glass img a{
border-bottom:none;
}
.glass address{
font-style:normal;
color:#ecf0f1;
font-family:'Quicksand', sans-serif;
-webkit-font-size:90px;
font-size:1.2em;
margin-top:4%;
}
.glass input{
padding:2% 3%;
background-color:#FF8DA1 !important;
border:none;
font-family:'Quicksand', sans-serif;
font-size:0.9em;
color:#444;
-webkit-border-radius:0.4em !important;
-moz-border-radius:0.4em !important;
border-radius:0.4em !important;
width:80%;
margin-top:3%;
}
.contact-column-1-main{
padding-left:4%;
padding-top:0%;
}
.contact-column-2-main{
padding-left:2%;
padding-top:0%;
}

.contact-column-2-main p {
	font-size: 1.3em;
}
.contact-column-3-main{
padding-left:2%;
padding-top:0%;
}

.contact-column-3-main input {
    color: #FFF !important;
    font-weight: 500 !important;
    border: none !important;
}


.contact-column-3-main a{
border-bottom:none;
}
.contact-column-3-main img{
margin-top:3%;
margin-right:1%;
}
.facebook a:hover{
background:url('facebook_pink.png');
}
.contact-column-4{
padding-left:2%;
padding-top:0%;
}
.contact-column-4{
font-size:0.8em;
}
.contact-column-4 a{
border:none;
}
.contact-column-4 img{
margin-left:25%;
}
.footer-main{
z-index:-10;
position:absolute;
top:80px;
bottom:0;
margin-left:5%;
}
.footer-main img{
margin-left:0%;
}
.footer-main p{
font-size:.7em;
margin-left:3.8%;
}
.footer-main h1{
text-align:center;
margin:-40px 4% 0 0;
}
.footer-main ul{
margin-top:-60px !important;
-webkit-margin-top:-100% !important;
margin-right:3.8%;
text-align:right;
list-style:none;
font-size:0.8em !important;
}
.footer-main li{
display:inline;
padding-left:2%;
}
.footer-main li a{
font-family:'Quicksand', sans-serif;
font-size:0.8em;
text-decoration:none;
color:#ecf0f1 !important;
border-bottom:none;
}
/*Products Page*/

#second{
height:800px;
}
.product-image{
width:50%;
}
/*Services Page*/

#third{
height:800px;
}
#fourth{
height:800px;
}
#fifth{
height:800px;
}
.gallery-main {
	position: absolute;
	margin-top: -65px !important;
	margin-left: -55px !important;
}
.primary-header-index, #header-logo-2-main, #header-logo-3-store-main{
display:none;
}

.primary-header{
width:110% !important;
height:10% !important;
}
a, a:visited{
color:#FF8DA1 !important;
text-decoration:underline;
outline:0px none;
}
.main-menu-store li a{
padding-left:4px !important;
padding-right:-5px !important;
margin-left:-5px !important;
margin-top:-3px !important;
}
.main-menu-store{
margin-left:5% !important;
}
.main-menu-item-3-store{
margin-left:-6%;
}
/*#header-logo-2-main, #header-logo-3-store-main{
margin-left:0%;
}
*/
/* About Page*/

span {
   font-family:'Quicksand', sans-serif;
   font-weight: 500;
   font-size: 0.9em;
   letter-spacing: -3px;

}

.about_image {
        width: 15%;
        height: 5%;
        margin-left: 43%;
    }

.about-container{
	position:absolute;
	margin:13% 25% 0 20%;
	text-align:justify;
}

.about-container a{
	margin-left:0%;
	text-decoration:none;
	color:#FF8DA1;
}

.about-container span {
	color: #FF8DA1 !important;
	font-weight: 500 !important;
	-webkit-text-shadow:0px 0px 2px #444 !important;
	-moz-text-shadow:0px 0px 2px #444 !important;
	text-shadow:0px 0px 2px #444 !important;
}

.contact-column-1-main p {
	margin-top: -3px;
	margin-bottom: -3px;
}

.contact-column-1-main h2 {
	font-size: 1.3em;
	margin-bottom: 5px;
}

.contact-column-1-main h1 {
	font-size: 1.9em;
}

.contact-column-1-main {
font-size: 1.2em;
}
.about-container h1{
	font-family:'Grand Hotel', cursive;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size:2.8em;
	font-weight: 100;
	color: #ECF0F1 !important;
}
.about-container p{
	margin-top:-5%;
	font-family:'Quicksand', sans-serif;
	font-size:1.5em;
}
.main-button{
margin-top:3px;
background-color:rgba(0, 0, 0, 0);
}
.who-we-are{
position:absolute;
top:71%;
left:44%;
list-style:none;
}

.hello {
	display: none;
}
.who-we-are a{
text-decoration:none !important;
font-family:'Grand Hotel', cursive;
text-decoration:none;
color:#FF8DA1 !important;
font-size:2.5em;
font-weight:100 !important;
}
.who-we-are a:hover{
color:#ECF0F1 !important;
text-shadow:none;
-webkit-transition:500ms linear 0s;
-moz-transition:500ms linear 0s;
-o-transition:500ms linear 0s;
transition:500ms linear 0s;
outline:0 none;
}
.arrow-who img{
position:absolute;
right:50%;
width:40px;
height:40px;
top:580px;
}
/*.push-menu-right ul li a:hover{
color:#FF8DA1 !important;
}
*/


@media only screen and (max-width : 1200px){
.main-menu-store .main-menu-item-5-store-i{
		position:absolute !important;
margin-left:70%;
}
.main-menu-store .main-menu-item-4-store-i{
position:absolute !important;
margin-left:55%;
}
.main-menu-store .main-menu-item-3-store-i{
position:absolute !important;
margin-left:28%;
}
.main-menu-store .main-menu-item-2-store-i{
position:absolute !important;
margin-left:18%;
}
.main-menu-store .main-menu-item-1-store-i{
position:absolute !important;
margin-left:10%;
}
}

@media only screen and (max-width : 1000px){
.menu-item-1 {
		margin-left:-10% !important;
}
.menu-item-3{
margin-left:30% !important;
}
.intro-contact{
width:20% !important;
margin-left:-10% !important;
}
#header-logo-1{
margin-left:-8% !important;
}
.contact-column-1-main, .contact-column-2-main, .contact-column-3-main{
width:20% !important;
margin-top:-5%;

}
.contact-column-3-main{
margin-left:10% !important;
}
.contact-column-2-main{
margin-left:15% !important;
}
.contact-footer img{
margin-right:5% !important;
width:5%;
}
/*#header-logo-2-main, #header-logo-3-store-main{
right:50% !important;
}
*/
	#main-wrapper .main-menu-store{
margin-left:-50px !important;
padding-right:-10px !important;
}
.main-button{
display:block;
}
.who-we-are{
left:35%;
}
/*
    .arrow-who img{
right:56%;
top:47%;
}
*/

    .footer-main{
position:absolute;
top:70% !important;
}
.copyright-main{
margin-top:70px !important;

}
.gallery-main{
display:none;
}

.arrow-who img{
	left: 40% !important;
}

.statement p {
	position: absolute;
	margin-top: 50px;
	left: 5%;

}

}


@media only screen and (max-width : 800px){
.glass input {
    	width:200px !important;
margin-left:100% !important;
}
.social-media{
width:200px;
margin-left:100% !important;
}
.main-button{
display:block;
}
.intro-contact{
display:none !important;
}
#header-logo-1{
margin-left:-90px !important;
}
.primary-header-index-about, .intro-menu, .main-menu-store{
display:none !important;
}
/*#main-wrapper #header-logo-2-main, #main-wrapper #header-logo-3-store-main{
margin-left:20px;
}
*/

	.intro-contact{
margin-left:-20% !important;
width:50% !important;
margin-top:15% !important;
}
.intro-contact-footer img{
margin-right:5% !important;
width:10%;
}
.contact-column-1-main{
width:20% !important;
margin-top:-5%;
font-size:0.8em;
}


.contact-column-2-main{
width:35% !important;
margin-left:30% !important;
font-size:0.8em;
}
.contact-column-3-main h1, .contact-column-3-main h3, .contact-column-3-main input{
display:none;
}
/*.social-media{
width:200%;
margin-top:110%;
margin-left:-45%;
}
*/



	.about-container{
font-size:0.8em;
}
.who-we-are{
left:35%;
}
/*.arrow-who img{
right:60%;
top:47%;
}
*/
.arrow-who img{
	left: 40% !important;
}
.statement p {
	position: absolute;
	margin-top: 250px;
	left: 30%;

}

}

@media only screen and (max-width : 400px){

	.arrow-who img {
		right:48% !important;
	}
	.who-we-are{
        left:30%;
	}
	.footer-main ul{
		width:350px !important;
		margin-top:-40px !important;
		margin-left:-100px !important;
	}
	.glass input{
		display:none !important;
	}
	.contact-column-1-main {
		width: 80px !important;
	}
	.contact-column-2-main address{
		font-size:1em !important;
	}
	.contact-column-2-main p{
		font-size:1em !important;
	}
	.copyright-main{
		margin-top: 25px !important;
		margin-left:50px !important;
	}

	#header-logo-2-main {
		margin-left: -20% !important;
	}
	#header-logo-3-store-main {
		margin-left: -16% !important;
	}

	.footer-main ul {
		margin-left: -160px !important;
	}

	.copyright-main {
		font-size: 0.9em !important;
		margin-top: 50px !important;
	}

	.statement p {
	position: absolute;
	margin-top: 250px;
	left: 20%;

    }

}

